* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: darkred;
    font-family: 'Segoe UI', Roboto, sans-serif;
}

main {
    background-color: white;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

header {
    background-color: lightgray;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

header img {
    display: block;
    margin: 0 auto 1rem auto;
    width: 120px;
    height: auto;
    float: right;
    border: black 2px solid;
}

#orderButton {
    display: inline-block;
    background-color: green;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 2px;
}

#pizza-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    background-color: white;
}

legend {
    color: darkgreen;
    font-variant: small-caps;
    font-size: 2.0rem;
    padding: 0 1rem;
}

fieldset {
    border: 1px solid darkgreen;
    padding: 1rem;
    margin-bottom: 1.25rem;
}

label {
    display: block;
    padding-bottom: .2rem;
}

label, input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
}